<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Settings</servlet-name>
        <servlet-class>main.servlets.Settings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>main.servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logoff</servlet-name>
        <servlet-class>main.servlets.Logoff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>main.servlets.Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add</servlet-name>
        <servlet-class>main.servlets.Add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit</servlet-name>
        <servlet-class>main.servlets.Edit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Print</servlet-name>
        <servlet-class>main.servlets.Print</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDatabase</servlet-name>
        <servlet-class>main.servlets.AddDatabase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDatabase</servlet-name>
        <servlet-class>main.servlets.DeleteDatabase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>database</servlet-name>
        <servlet-class>main.api.database</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Settings</servlet-name>
        <url-pattern>/Settings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logoff</servlet-name>
        <url-pattern>/Logoff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add</servlet-name>
        <url-pattern>/Add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit</servlet-name>
        <url-pattern>/Edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Print</servlet-name>
        <url-pattern>/Print</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDatabase</servlet-name>
        <url-pattern>/AddDatabase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDatabase</servlet-name>
        <url-pattern>/DeleteDatabase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>database</servlet-name>
        <url-pattern>/database</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <listener>
        <listener-class>main.Updater</listener-class>
    </listener>
</web-app>
