<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Settings</servlet-name>
        <servlet-class>main.servlets.Settings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>main.servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logoff</servlet-name>
        <servlet-class>main.servlets.Logoff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>main.servlets.Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTables</servlet-name>
        <servlet-class>main.api.GetTables</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add</servlet-name>
        <servlet-class>main.servlets.Add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit</servlet-name>
        <servlet-class>main.servlets.Edit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Print</servlet-name>
        <servlet-class>main.servlets.Print</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDatabase</servlet-name>
        <servlet-class>main.servlets.AddDatabase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDatabase</servlet-name>
        <servlet-class>main.servlets.DeleteDatabase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAgences</servlet-name>
        <servlet-class>main.api.GetAgences</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTitles</servlet-name>
        <servlet-class>main.servlets.EditTitles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCible</servlet-name>
        <servlet-class>main.servlets.DeleteCible</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateNow</servlet-name>
        <servlet-class>main.api.UpdateNow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAllTickets</servlet-name>
        <servlet-class>main.api.UpdateAllTickets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAllLoginLog</servlet-name>
        <servlet-class>main.api.UpdateAllLoginLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAgenceStatus</servlet-name>
        <servlet-class>main.api.GetAgenceStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TodayUpdateAgence</servlet-name>
        <servlet-class>main.api.TodayUpdateAgence</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAgence</servlet-name>
        <servlet-class>main.api.UpdateAgence</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Settings</servlet-name>
        <url-pattern>/Settings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTables</servlet-name>
        <url-pattern>/api/gettables</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logoff</servlet-name>
        <url-pattern>/Logoff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add</servlet-name>
        <url-pattern>/Add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit</servlet-name>
        <url-pattern>/Edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Print</servlet-name>
        <url-pattern>/Print</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDatabase</servlet-name>
        <url-pattern>/AddDatabase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDatabase</servlet-name>
        <url-pattern>/DeleteDatabase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAgences</servlet-name>
        <url-pattern>/api/getagences</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateNow</servlet-name>
        <url-pattern>/api/updatenow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAllTickets</servlet-name>
        <url-pattern>/api/updatealltickets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAllLoginLog</servlet-name>
        <url-pattern>/api/updateallloginlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTitles</servlet-name>
        <url-pattern>/EditTitles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCible</servlet-name>
        <url-pattern>/DeleteCible</url-pattern>
    </servlet-mapping>
    <error-page>
        <!-- Missing login -->
        <error-code>401</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <!-- Forbidden directory listing -->
        <error-code>403</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <!-- Missing resource -->
        <error-code>404</error-code>
        <location>/addon/error/error404.jsp</location>
    </error-page>
    <error-page>
        <!-- Missing resource -->
        <error-code>405</error-code>
        <location>/addon/error/error404.jsp</location>
    </error-page>
    <error-page>
        <!-- Uncaught exception -->
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <!-- Unsupported servlet method -->
        <error-code>503</error-code>
        <location>/error.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>GetAgenceStatus</servlet-name>
        <url-pattern>/GetAgenceStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TodayUpdateAgence</servlet-name>
        <url-pattern>/TodayUpdateAgence</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAgence</servlet-name>
        <url-pattern>/UpdateAgence</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <listener>
        <listener-class>main.Listener</listener-class>
    </listener>
</web-app>
