*{
    padding: 0;
    margin: 0;
}
body {
    font-family: "Open Sans", sans-serif;
    height: 100vh;
    background-color: #2c3338;
}
.row{
    color: white;
}
.body{
    color: white;
}
.appColor,.appColor th,.appColor td{
    background-color: #14b6fa;
    color:white;
    border: 1px solid black;
}
.appBg{
    background-color: #14b6fa !important;

}
.appBorder{
    border: 1px solid #14b6fa ;
}
.appTxt{
    color: #14b6fa;
}
.hover:hover{
    opacity: 0.8;
}
table{
    white-space:nowrap; 
}
footer {
    display: block;
    padding-top: 50px;
    text-align: center;
    color: #ddd;
    font-weight: normal;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
    font-size: 0.8em;
}
footer a, footer a:link {
    color: #fff;
    text-decoration: none;
}